<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Title Here</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script>
</head>
<body>
    <div id="particles-js" class="home-particles"></div>
    <div class="container">
        <p class="subtitle">Choose an option:</p>
        <div class="options">
            <div class="option" onclick="redirectToPage('realtime_classification.html')">Real-time Classification</div>
            <div class="option" onclick="redirectToPage('quality_checking.html')">Quality Checking Samples</div>
        </div>
    </div>
    <script src="script.js"></script>
</body>
</html>
